/* 
1.Posicionamiento
2.Modelo de caja
3.Tipografía
4.Visuales
5.Otros 
*/

:root {
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #1b1a19;
    --black: #000;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
  }
  
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
  }
  
  h2{
    font-weight: 700;
    font-size: 6rem;
    font-family: Arial, Helvetica, sans-serif
  }
  
  .topnav {
    overflow: hidden;
    background-color: #000;
  }
  
  .topnav a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 600;
  }
  
  .topnav  a img{
    width: 36px;
  }
  
  .topnav a:hover {
    background-color: #fff;
    color: black;
  } 
  
  .topnav a.active {
    /* background-color: #2cda60; */
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      padding: 14px 16px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  /* End menu */
  main {
    width: 100%;
    height: auto;
    background-color: burlywoosd;
  }
  
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #000;
    padding-bottom: 1cm;
  }

  .header h1{
   font-family: monospace;
   font-weight: 600;
   font-size: 6rem;
   margin-top: 3rem;
   color: white;
  }

  .header h2{
    font-family: monospace;
    font-weight: 400;
    font-size: 2.1rem;
    color:rgb(182, 181, 181);
  }

  .header img{
   width: 320px;
   margin-bottom: 3rem;
  }

  .carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    
  }


  .carrousel h1{
    font-family: monospace;
    font-weight: 600;
    font-size: 6rem;
    margin-top: 3rem;
    color: black;
   }
 
   .carrousel h2{
     font-family: monospace;
     font-weight: 400;
     font-size: 2.1rem;
     color:rgb(182, 181, 181);
   }
 
   .carrousel img{
    width: 320px;
    margin-bottom: 3rem;
   }

  .ingredients{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 4.5rem;
  }

  .ingredients ul{
    margin-left: 3rem;
    margin-right: 3rem;
    line-height: 1.5;
  }

  .ingredients h2{
    font-family: monospace;
    font-weight: 600;
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }

  .ingredients ul li{
    font-family: monospace;
    font-weight: 400;
    font-size: 2.1rem;
    text-align: justify;
  }

  /* ********************************* */

  .preparation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 3.9rem;
  }

  .preparation h2{
    font-family: monospace;
    font-weight: 600;
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }

  .preparation code{
    width: 75%;
  }

  .preparation code p{
    font-family: monospace;
    font-weight: 400;
    font-size: 2.1rem;
    text-align: center;
    line-height: 1.5;
  }

  /* **************************** */
 
  
  /**SLIDESHOW**/
 .slideshow{
  
 }

/* Slideshow container */
.slideshow-container {
  width: 60%;
  height: auto;
  position: relative;
  margin: auto;
  box-sizing:border-box
}

/* Hide the images by default */
.mySlides {
  display: none;
  box-sizing:border-box;
  width:60%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  box-sizing:border-box
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  box-sizing:border-box
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  box-sizing:border-box
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  box-sizing:border-box
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  box-sizing:border-box
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-sizing:border-box
}

.active, .dot:hover {
  background-color: #717171;
  box-sizing:border-box
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  box-sizing:border-box
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#carru, #modal {
  position: relative;
}


#modal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(210, 191, 191);
  width: 80%;
  height: 600px;
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#imagenPal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#imagenPal img{
  width: 360px;
  height: 360px;
}

